/* 
 * HOVER
 *
 * These elements change background and text color as well as add transition
 */
.hover {
    transition-property: all;
    transition-duration: .25s;
}

.hover:hover {
    transition-property: all;
    transition-duration: .25s;
}

.hover-danger:hover {
    color: white;
    background-color: #dc3545;
}

.hover-warning:hover {
    color: black;
    background-color: #ffc107;
}


/* Date specifically should be of lighter color */
.card-title#current-date {
    color: #666;
}


.display-4 {
    font-size: 2.8rem;
}

/* Color of the '#' sign in order number should be lighter */
.display-4 > small {
    color: inherit;
    opacity: .5;
}

.foodpieceorder .foodpieceorder-modification {
    list-style-type: disc;
}

.btn:focus,
.btn.focus {
    outline: none !important;
    box-shadow: none !important;
}